@font-face {
    font-family: 'neoteric';
    src: url('../fonts/neoteric__-_regular_commercial_version-webfont.eot');
    src: url('../fonts/neoteric__-_regular_commercial_version-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/neoteric__-_regular_commercial_version-webfont.woff2') format('woff2'),
         url('../fonts/neoteric__-_regular_commercial_version-webfont.woff') format('woff'),
         url('../fonts/neoteric__-_regular_commercial_version-webfont.ttf') format('truetype'),
         url('../fonts/neoteric__-_regular_commercial_version-webfont.svg#neotericregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'neoteric';
    src: url('../fonts/neoteric__-_bold_commercial_version-webfont.eot');
    src: url('../fonts/neoteric__-_bold_commercial_version-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/neoteric__-_bold_commercial_version-webfont.woff2') format('woff2'),
         url('../fonts/neoteric__-_bold_commercial_version-webfont.woff') format('woff'),
         url('../fonts/neoteric__-_bold_commercial_version-webfont.ttf') format('truetype'),
         url('../fonts/neoteric__-_bold_commercial_version-webfont.svg#neotericbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Thryomanes-Normal';
    src:url('../fonts/Thryomanes-Normal.ttf.woff') format('woff'),
        url('../fonts/Thryomanes-Normal.ttf.svg#Thryomanes-Normal') format('svg'),
        url('../fonts/Thryomanes-Normal.ttf.eot'),
        url('../fonts/Thryomanes-Normal.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

html, body {
	height: 100%;
	margin: 0;
	font-family: 'neoteric';
    letter-spacing: 1px;
	color: rgb(255, 221, 97);
}

h1 {
	margin: 0 auto;
	padding: 10px 0;
	font-family: 'Thryomanes-Normal';
	text-transform: uppercase;
	font-size: 2rem;
}

nav .nav-link:hover {
	color: rgb(255, 229, 133);
}

.navbar {
	background-color: rgba(9, 16, 28, 0.8);
}
	
.navbar .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
	color: rgb(255, 229, 133);
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: rgb(192, 157, 25);
}

.navbar .navbar-nav .nav-link {
	color: rgb(255, 221, 97);
}

.navbar .navbar-toggler {
	color: rgb(255, 221, 97);
	border-color: rgb(255, 229, 133);
}


.navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 221, 97)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.nav-item {
	margin: 0 auto;
}

.social-link {
	display: inline-block;
}

.background {
	width: 100%;
	background-position: center;
	background-size: cover; 
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.overlay {	
	width: 100%;
	height: 100%;
	background-color: rgba(9, 16, 28, 0.5);
}

.center {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
	
.wrapper {
	max-width: 960px;
	margin: 0 auto;
	text-align: center;
}	

.wrapper h5 {
	font-weight: bold !important;
	display: inline-block;
	text-align: center;
	margin-bottom: 15px;
	width: 100%;
	text-transform: uppercase;
}

.wrapper h1 {
	width: 100%;
	margin-top: 15px;
}

.content {
	text-align: justify;
}

#logo {
	position: relative;
	width: 60%;
	margin: 0 auto;
}	

#theme {
	font-size: 2.8rem;
}

.divider {
	width: 150px;
	margin: 15px auto;
}

.solid {
	padding: 40px 0;
	background-color: rgb(9, 16, 28);
}

.home {
	height: 100vh;
	background-image: url("../img/bg1.jpg");
}

.info {
	background-image: url("../img/bg3.jpg");
}

.info .row {
	width: 100%;
}

.info .col-md-6 {
	padding: 0;
	margin-top: 40px;
	margin-bottom: 40px;
}

.info .col-md-6 div {	
	background-color: rgb(9, 16, 28);
	padding: 15px;
	min-height: 300px;
}


.info .col-md-6:last-child {	
	margin-top: 320px;
}

@media (max-width: 768px) {
	.info .col-md-6:last-child {	
		margin-top: 40px;
	}
}

.definition {
	text-align: left;
	margin-right: 10px;
}

.definition h5 {
	text-align: left;
}

.youtube {
	margin-left: 10px;
}

.youtube h5 {
	margin-top: 15px;
}

.tickets {
	background-image: url("../img/bg4.jpg");	
}

.tickets .row {
	margin-top: 100px;
	margin-bottom: 100px;
}

.card {
	background-color: rgb(9, 16, 28);
	border: none;
	border-radius: 0;
	min-height: 400px;
}

.card-text {
	text-align: center;
}


.important {
	font-weight: 900 !important;
	color: rgb(255, 229, 133);
}

.text-muted {
	color: rgb(192, 157, 25) !important;
}

.tickets .card-subtitle {
	margin-bottom: 10px;
}

.namechanges ul {
	display: inline-block;
	padding: 0;
	text-align: left;
	margin: 0 auto;
}

.sponsors  {
	background-image: url("../img/bg2.jpg");	
}

.sponsors .overlay {
	background-color: rgba(9, 16, 28, 0.6);
}

.sponsors .wrapper {
	margin-top: 60px;
	margin-bottom: 60px;
}

.sponsor {
	display: flex;
	margin-top: 20px;
	margin-bottom: 20px;
	flex-direction: row;
}

.sponsor img {
	margin: 5px;
}
 
.sponsor p {
	display: block;
	overflow: auto;
}

.sponsor p.hidden {
	display: none;
}

a {
	color: rgb(255, 221, 97);
}

a:hover {
	text-decoration: underline;
    cursor: pointer;   
	color: rgb(192, 157, 25) !important;
}


#qpay img {
	width: 100px;
	margin-right: 30px;
}

#qpay p {
	margin-top: 25px;
}

#coolearth img {
	width: 150px;
	margin-left: 30px;
}

.committee {
	overflow-x: hidden;
}

.committee a {
	font-size: 0.75rem;
	color: rgb(255, 221, 97);
}


.committee .card-body {
	padding: 1.25rem 0;
}

footer {
	padding-top: 10rem;
	padding-bottom: 2.5rem;
	background: -webkit-gradient(linear, center top, center bottom, from(#09101c), to(#000000));
	background: -webkit-linear-gradient(rgba(9, 16, 28), rgba(0,0,0));
	background: -moz-linear-gradient(#09101c, #000000);
	background: -o-linear-gradient(#09101c, #000000);
	background: -ms-linear-gradient(#09101c, #000000);
	background: linear-gradient(rgba(9, 16, 28), rgba(0,0,0));
}

footer p:last-child {
	font-size: 0.75rem;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (   min--moz-device-pixel-ratio: 1.5),
only screen and (     -o-min-device-pixel-ratio: 3/2),
only screen and (        min-device-pixel-ratio: 1.5),
only screen and (                min-resolution: 144dpi),
only screen and (                min-resolution: 1.5dppx) { 
	.home {
		background-image: url("../img/bg1@2x.jpg");
	}
	.info {
		background-image: url("../img/bg3@2x.jpg");
	}
	.sponsors  {
		background-image: url("../img/bg2@2x.jpg");	
	}
}
