@font-face {
    font-family: 'CaviarDreams';
    src: url('../fonts/CaviarDreams.ttf') format('truetype');
}
@font-face {
    font-family: 'YellowPeas';
    src: url('../fonts/yellow_peas.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'YellowPeas';
    src: url('../fonts/yellow_peas_bold.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'neoteric';
    src: url('../fonts/neoteric__-_bold_commercial_version-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
.spinner {
    width: 40px;
    height: 40px;
    margin: 100px auto;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0)
    }

    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}
.ml12 {
    font-weight: 200;
    font-size: 1.8em;
    letter-spacing: 0.5em;
}

.ml12 .letter {
    display: inline-block;
    line-height: 1em;
}
h1 {
    font-family: 'CaviarDreams';
    text-align: center;
    margin: 200px 1px;
    font-size: 96px;
}
h2 {
    font-family: 'CaviarDreams';
    text-align: center;
    font-size: 72px;
    margin: 1px 1px 150px 1px;
    color: #b4b4b4;
}
h3 {
    font-family: 'YellowPeas';
    text-align:center;
    font-size: 48px;
    color: #ffffff;
}
p {
    font-family: 'neoteric';
    text-align: center;
    font-size: 16px;
    
}

@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translatex(-10px);
        -moz-transform: translatex(-10px);
        -o-transform: translatex(-10px);
        transform: translatex(-10px);
    }

    to {
        opacity: 1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}

@-moz-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translatex(-10px);
        -moz-transform: translatex(-10px);
        -o-transform: translatex(-10px);
        transform: translatex(-10px);
    }

    to {
        opacity: 1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translatex(-100px);
        -moz-transform: translatex(-100px);
        -o-transform: translatex(-100px);
        transform: translatex(-100px);
    }

    to {
        opacity: 1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}

.in-left {
    -webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    -o-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -o-animation-duration: 0.5s;
    animation-delay: 0.5s;
}