@font-face {
    font-family: 'NEOTERIC';
    src:url('../fonts/NEOTERIC.ttf.woff') format('woff'),
        url('../fonts/NEOTERIC.ttf.svg#NEOTERIC') format('svg'),
        url('../fonts/NEOTERIC.ttf.eot'),
        url('../fonts/NEOTERIC.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Thryomanes-Normal';
    src:url('../fonts/Thryomanes-Normal.ttf.woff') format('woff'),
        url('../fonts/Thryomanes-Normal.ttf.svg#Thryomanes-Normal') format('svg'),
        url('../fonts/Thryomanes-Normal.ttf.eot'),
        url('../fonts/Thryomanes-Normal.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

html, body {
	height: 100%;
	margin: 0;
	font-family: 'NEOTERIC';
    letter-spacing: 1px;
	color: rgb(255, 221, 97);
}

h1 {
	margin: 0 auto;
	padding: 10px 0;
	font-family: 'Thryomanes-Normal';
	text-transform: uppercase;
	font-size: 2rem;
}

nav .nav-link:hover {
	color: rgb(255, 229, 133);
}

.navbar {
	background-color: rgba(9, 16, 28, 0.8);
}
	
.navbar .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
	color: rgb(255, 229, 133);
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: rgb(192, 157, 25);
}

.navbar .navbar-nav .nav-link {
	color: rgb(255, 221, 97);
}

.navbar .navbar-toggler {
	color: rgb(255, 221, 97);
	border-color: rgb(255, 229, 133);
}


.navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 221, 97)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.nav-item {
	margin: 0 auto;
}

.social-link {
	display: inline-block;
}

.background {
	position: relative;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	background-position: center;
	background-size: cover; 
	background-repeat: no-repeat;
}

.overlay {	
	width: 100%;
	height: 100%;
	background-color: rgba(9, 16, 28, 0.5);
}

.center {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
	
.wrapper {
	max-width: 960px;
	margin: 0 auto;
	text-align: center;
}	

.wrapper span {
	display: inline-block;
	text-align: center;
	margin-bottom: 15px;
	width: 100%;
	text-transform: uppercase;
}

.wrapper h1 {
	width: 100%;
	margin-top: 15px;
}

#logo {
	position: relative;
	width: 60%;
	margin: 0 auto;
}	

#theme {
	font-size: 2.8rem;
}

.divider {
	width: 150px;
	margin: 15px auto;
}

.solid {
	padding: 40px 0;
	background-color: rgb(9, 16, 28);
}

.home {
	height: 100vh;
	background-image: url("../img/bg1.jpg");
}

.info {
	background-image: url("../img/bg3.jpg");
}

.info .row {
	width: 100%;
}

.info .col-md-6 {
	padding: 0;
	margin-top: 40px;
	margin-bottom: 40px;
}

.info .col-md-6 div {	
	background-color: rgb(9, 16, 28);
	padding: 15px;
	height: 300px;
}

.info .col-md-6:last-child {	
	margin-top: 250px;
}

.definition {
	margin-right: 10px;
}
.youtube {
	margin-left: 10px;
}

.tickets {
	background-image: url("../img/bg4.jpg");	
}

.tickets .row {
	margin-top: 100px;
	margin-bottom: 100px;
}

.card {
	background-color: rgb(9, 16, 28);
	border: none;
	border-radius: 0;
}

.text-muted {
	color: rgb(192, 157, 25) !important;
}

.sponsors  {
	height: 70vh;
	background-image: url("../img/bg2.jpg");	
}

.committee {
	overflow-x: hidden;
}

.committee a {
	font-size: 0.75rem;
	color: rgb(255, 221, 97);
}

.committee .card-body {
	padding: 1.25rem 0;
}

footer {
	padding-top: 10rem;
	padding-bottom: 2.5rem;
	background: linear-gradient(rgba(9, 16, 28), rgba(0,0,0));
}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (   min--moz-device-pixel-ratio: 1.5),
only screen and (     -o-min-device-pixel-ratio: 3/2),
only screen and (        min-device-pixel-ratio: 1.5),
only screen and (                min-resolution: 144dpi),
only screen and (                min-resolution: 1.5dppx) { 
	.home {
		background-image: url("../img/bg1@2x.jpg");
	}
	.info {
		background-image: url("../img/bg3@2x.jpg");
	}
	.sponsors  {
		background-image: url("../img/bg2@2x.jpg");	
	}
}
