body {
    font-family: 'Heebo', sans-serif;
    font-weight: lighter;
}

#game-over{
    position: absolute;
    text-align: center;
    visibility: hidden;
}
.game-over{
    font-size: 72px;
}
.score-board {
    font-size: 56px;
}
#restart{
    border: 2px solid black;
    border-radius: 25px;
    font-size: 48px;
}
#restart:hover{
    background-color: black;
    color: white;
}
